/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: blanchedalmond;
}

/* SECTION PHOTO */
.slide-photo {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.angle-sx a,
.angle-dx a {
    font-size: 50px;
    max-width: 100px;
    flex-shrink: 0;
}
.angle-sx {
    margin-left: 65px;
}
.angle-dx {
    margin-right: 65px;
}
.hover-color { /*jQuery */
    color: red;
    font-size: 70px;
}

.img-container img{
    display: none;
    flex-shrink: 0;
    box-shadow: 0 15px 8px -10px rgba(256,256,256, .20);
}
.show img{
    display: block; /* jQuery */
}

/* SECTION SLIDER BOTTOM */
.slider-container {
    display: flex;
    justify-content: center;  
}
.slider ul {
    display: inline-block;
    list-style: none;
}
.full-circle{
    color: red;
}