* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: blanchedalmond;
}
.slide-photo {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.angle-sx,
.angle-dx {
    font-size: 50px;
    max-width: 100px;
}

.img-container img{
    margin-top: 30px;
    max-height: 600px;
    min-width: 600px;
    display: none;
}
.show img{
    display: block; /* jQuery */
}
.slider-container {
    display: flex;
    justify-content: center;  
}
.slider {
    margin: 10px 0 10px;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid cornsilk;
}
.slider ul {
    display: inline-block;
    list-style: none;
    color: cornsilk;
}